@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dr Srinivas Ananth Narayan<br />
    Clinical Research Fellow<br />
    King's College London<br />
    4th Floor North Wing<br />
    Biomedical Engineering Offices<br />
    St Thomas Hospital<br />
    Westminster Bridge Road<br />
    London SE1 7EH<br />
    <abbr title="Phone">P:</abbr>
    +44 20 7188 7188
</address>

<address>
    <strong>Support:</strong> <a href="mailto:srinivas.narayan@kcl.ac.uk">Support@example.com</a><br />
</address>
